// COLORS
$color-primary: #3a243b;
$color-primary-light: #482d4a;
$color-primary-dark: #301934;

$color-turq: #30d5c8;

$color-secondary-light: #2998ff;
$color-secondary-dark: #5643fa;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#210e26;

// #250e28, #240d29

$color-white: #fff;
$color-smooth: #eee;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;